meta:
    name: 'baseline_mbv3s_vww96'
    seed: 42
    out_dir: 'runs'
    device: 'auto' # auto|cuda|mps|cpu
    amp: true

data:
    path: 'data/vww96'
    batch: 256
    num_workers: 4
    mean: [0.485, 0.456, 0.406]
    std: [0.229, 0.224, 0.225]
    aug:
        rand_hflip: 0.5
        color_jitter: [0.2, 0.2, 0.2, 0.0] # [b, c, s, h]
        random_erasing: [0.25, 0.02, 0.12, 0.3, 3.3] # [p, scale-, scale+, ratio-, ratio+]

model:
    type: 'mobilenet_v3_small' # mobilenet_v3_small | mobilenet_v3_large
    pretrained: false
    # dropout: 0.0 ?

train:
    epochs: 30
    label_smoothing: 0.05
    early_stop_patience: 5
    grad_clip_norm: 2.0
    save_full_checkpt: false
    optimizer:
        name: 'adamw'
        lr: 0.001
        weight_decay: 0.0001
    scheduler:
        name: 'onecycle'
        max_lr: 0.001
        pct_start: 0.05
        div_factor: 20.0
        final_div_factor: 10000.0

# Only used when stage=kd
kd:
    teacher:
        checkpt: 'runs/teacher/best.pt' # or null to train teacher first
        arch: 'mobilenetv3_large'
        pretrained: true
    alpha: 0.5 # CE weight
    temperature: 4.0

# Only used when stage=prune
prune:
    method: 'global_magnitude'
    amount: 0.5 # overall sparsity
    finetune_epochs: 5
    finetune_lr: 0.0005

# Only used when stage=quant
quant:
    mode: 'ptq' # ptq|qat
    calibrate_batches: 50
    qat_epochs: 10
    qat_lr: 0.0005
