meta:
    name: 'teacher_mbv3l_vww96'
    seed: 42
    out_dir: 'runs'
    device: 'auto' # auto|cuda|mps|cpu
    amp: true

data:
    path: 'data/vww96'
    batch: 256
    num_workers: 4
    mean: [0.485, 0.456, 0.406]
    std: [0.229, 0.224, 0.225]
    aug:
        rand_hflip: 0.5
        color_jitter: [0.15, 0.15, 0.15, 0.0] # slightly lighter jitter for fine-tune
        random_erasing: [0.0, 0.02, 0.12, 0.3, 3.3] # off (p=0.0)

model:
    type: 'mobilenet_v3_large'
    pretrained: true

train:
    epochs: 15
    label_smoothing: 0.02
    early_stop_patience: 4
    grad_clip_norm: 0.0
    save_full_checkpt: true
    init_checkpoint: 'runs/2025-10-24_21-17-59_teacher_mbv3l_vww244/model.pt'
    optimizer:
        name: 'adamw'
        lr: 0.0003
        weight_decay: 0.0001
    scheduler:
        name: 'onecycle'
        max_lr: 0.0003
        pct_start: 0.1
        div_factor: 10.0
        final_div_factor: 1000.0
